@import './variables.scss';



* {
  box-sizing:border-box;
  color:$black-color;
  font-family: "Noto Sans"
}

h1, h2 {
  font-family: "VT323";
  text-decoration: underline;
}

h3, h4, h5, h6, a {
  font-family: "Roboto Condensed"
}

a {
  color:$white-color;
  text-decoration: underline;
  &:hover {
    font-weight:bolder;
    color:$white-color;
  }
}

.plain-link {
  background-color:$dark-grey-color;
  padding:4px 12px;
  margin:2px;
  border-radius:10px;
  display:inline-block;
}



.App {
  text-align: center;
  background-size:cover;
}

@media only screen and (min-width: 1200px) {
  .App {
    height:100vh;
  }
}

.bg-overlay{
  background: linear-gradient( 90deg, rgba($white-color, .8), rgba($light-grey-color, .8)   );
}

#contact {
  display:flex;
  height:90vh;

  justify-content: center;
  text-align:center;
  align-items: center;
}


@media only screen and (min-width: 1200px) {
  .extra-window {
    height:100vh;
    overflow-y: scroll;
    position:relative;
    border-left:3px $dpc solid;
  }
}

@media only screen and (max-width: 1159px) {
  .extra-window {
    min-height:100vh;
    position:relative;
    border-top:3px $dpc solid;
  }
}

.extra-window-bg {
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}

@media only screen and (min-width: 1200px) {
  .fadePages{
    position:absolute;
    width:100%;
    padding:20px;
  }
}

@media only screen and (max-width: 1159px) {
  .fadePages{
    position:relative;
    width:100%;
    padding:20px;
  }
}




.fp-bottom {
  bottom:0;
  text-align:center;
}

.home-window {
  display:flex;
  text-align: right;
  height:100%;
  justify-content: flex-end;
  align-items: flex-end;
  & > h2, & > h3 {
    padding:10px;
    margin:10px;
  }
}

.code-window {
    text-align: left;
    background-color: $black-color;
    padding: 10px;
    border-radius: 8px;
}
.code-window * {
    color:$grey-color;
}

.code-line {
  font-size:20px;
  margin:2px;
}




@media only screen and (min-width: 1200px) {

  .page-body-bg {
    height:100vh;
    padding:0px;
    background:url('./img/bg1.jpg');
    background-size:cover;
  }

  .page-body {
    height:100vh;
    width:100%;
    background:linear-gradient( rgba($primary-color, .5), rgba($dpc, .5) );
    border-right:2px $llpc solid;
  }
}

@media only screen and (max-width: 1159px) {

  .page-body-bg {
    background:url('./img/bg1.jpg');
    padding:0px;
    background-size:cover;
  }

  .page-body {
    padding: 75px 0;
    width:100%;
    background:linear-gradient( rgba($primary-color, .5), rgba($dpc, .5) );

    border-bottom:2px $llpc solid;
  }
}



.page-header {
  width:100%;
  text-align:center;
}

.page-button {
  color:$white-color;
  text-decoration:none;
  background:linear-gradient(   $dpc, $primary-color, $primary-color, $dpc );
  text-align:center;
  display:inline-block;
  width:140px;
  padding:10px;
  margin:10px;
  font-size: 18px;
  border-radius:8px;
  &:hover {
    background:linear-gradient( $primary-color, $dpc, $primary-color, );
    color:$white-color;
  }
}

.pb-primary {
    background:linear-gradient(   $dhc, $highlight-color, $highlight-color, $dhc );
    color:$black-color;

    &:hover {
      background:linear-gradient( $highlight-color, $dhc, $highlight-color, );
    }

}

.menu-link {
  color:$white-color;
  padding:15px 10px;
  display:inline-block;
  text-decoration:none;
  &:hover {
    font-weight:bold;
  }
}

.menu-link.active {
    text-decoration:underline;
    font-weight:bold;
}

.contact-icon-link {
  display:inline-block;
}

.technology-button{
      display: inline-block;
      padding: 5px;
      margin: 5px;
      border-radius:5px;
      cursor: pointer;
      a {
        color: $white-color;
        &:hover {
          font-weight:bold;
          color: $white-color;
        }
      }

    }

.tfc-b {
  color:$primary-color;
}

.tfc-p {
  color:$secondary-color;
}

.tfc-g {
  color:$highlight-color;
}
.tfc-gy {
  color:$grey-color;
}

.tfc-lg {
  color:$light-grey-color;
}

.tfc-dg {
  color:$dark-grey-color;
}


//******************************
//******************************
//******************************
//******************************

.fadePagesWindow-enter {
  opacity:0;
  transform: translateY(70px) scaleY(.9) scaleX(.9);
}

.fadePagesWindow-enter.fadePagesWindow-enter-active {
  opacity:1;
  transform: translateY(0) scaleY(1) scaleY(1);
  transition: opacity 300ms ease-out, transform 300ms linear;
}




  .fadePagesWindow-exit {
    opacity:1;
    transform: translateY(0);
  }

  .fadePagesWindow-exit.fadePagesWindow-exit-active {
    opacity:0;
    transform: translateY(200px);
    transition: opacity 200ms ease-in, transform 200ms ease-in;
}

@media only screen and (max-width: 1159px) {
  .fadePagesWindow-exit {
    position:absolute;
  }
  .fadePagesWindow-exit.fadePagesWindow-exit-done {
    position:relative;
  }
}

//******************************
//******************************
//******************************
//******************************


.fadePagesMin-appear {
  opacity:0;
}

.fadePagesMin-appear.fadePagesMin-appear-active {
  opacity:1;
  transition: opacity 800ms ease-out;
}

.fadePagesMin-enter {
  opacity:0;
}

.fadePagesMin-enter.fadePagesMin-enter-active {
  opacity:1;
  transition: opacity 800ms ease-out;
}


  .fadePagesMin-exit {
    opacity:1;
  }

  .fadePagesMin-exit.fadePagesMin-exit-active {
    opacity:0;
    transition: opacity 500ms ease-in;
  }

  @media only screen and (max-width: 1159px) {
    .fadePagesMin-exit {
      position:absolute;
      opacity:1;
    }
    .fadePagesMin-exit.fadePagesMin-exit-active {
      opacity:0;
      transition: opacity 500ms ease-out;
    }
    .fadePagesMin-exit.fadePagesMin-exit-done {
      position:relative;
    }
  }



  @media only screen and (max-width: 1159px) {
      .extra-window, .home-window { text-align:center; }
  }



  //******************************
  //******************************
  //******************************
  //******************************


  .fadePortfolio-appear {
    opacity:0;
    transform: translateY(10px);
  }

  .fadePortfolio-appear.fadePortfolio-appear-active {
    opacity:1;
    transform: translateY(0);
    transition: opacity 300ms ease-in,transform 300ms ease-in;
  }

  .fadePortfolio-enter {
    opacity:0;
    transform: translateY(10px);
  }

  .fadePortfolio-enter.fadePortfolio-enter-active {
    opacity:1;
    transform: translateY(0);
    transition: opacity 300ms ease-in,transform 300ms ease-in;
  }


    .fadePortfolio-exit {
      opacity:1;
      transform: translateX(0);
    }

    .fadePortfolio-exit.fadePortfolio-exit-active {
      opacity:0;
      transform: translateX(100px);
      transition: opacity 500ms ease-out, transform 500ms ease-out;
    }
