@import './variables.scss';

* {
  box-sizing:border-box;
}

.App {
  text-align: center;
  background-size:cover;
  height:100vh;
}

.AppOverlay{
  background: linear-gradient( 90deg, rgba(197,229,255,.3), rgba(124,141,156,.5)   );
}

.page-overview{
  display:flex;
}
.extra-window {
  width:100%;
  height:100vh;
  padding:20px;
  overflow-y: scroll;
}

.page-body-bg {
  height:100vh;
  background:url('./img/bg1.jpg');
  background-size:cover;
  border-right:solid blue 4px;
}

.page-body {
  height:100vh;
  padding:20px;
  display:flex;
  align-items:flex-end;
  background:linear-gradient( rgba(0,139,255,.5), rgba(56,61,65,.8));

  & > div {
    width:100%;
  }
}

.page-button {
  color:white;
  text-decoration:none;
  background:linear-gradient(  rgb(49, 94, 160), rgb(59,104,170), rgb(39,84,150), rgb(19,64,130) );
  text-align:center;
  display:inline-block;
  width:140px;
  padding:10px;
  margin:10px;
  font-size: 18px;
  border-radius:8px;
  &:hover {
    background:linear-gradient(  rgb(149, 194, 255), rgb(159,204,255), rgb(139,184,250), rgb(119,164,230) );
    color:black;
  }
}

.menu-link {
  color:white;
  padding:5px;
  text-decoration:none;
  &:hover {
    color:blue;
  }
}

.contact-icon-link {
  display:inline-block;
  width:25%;
}

.technology-button{
      display: inline-block;
      padding: 5px;
      margin: 5px;
      border-radius:5px;
      cursor: pointer;
      a {
        color: white;
      }
    }

// .tfvs {
//   font-size:50%;
// }
//
// .tfs {
//   font-size:80%;
// }
//
// .tfb {
//   font-size:125%;
// }
//
// .tfvb {
//   font-size:150%;
// }

.tfc-b {
  color:rgb(0,139,255);
}

.tfc-p {
  color:rgb(133,113,198);
}

.tfc-g {
  color:rgb(80,255,147);
}
.tfc-gy {
  color:#333;
}

.tfc-lg {
  color:#999;
}
