@import './variables.scss';

* {
  box-sizing:border-box;
  color:$black-color;
  font-family: "Noto Sans"
}

h1, h2 {
  font-family: "VT323";
  text-decoration: underline;
}

h3, h4, h5, h6, a {
  font-family: "Roboto Condensed"
}

a {
  color:$white-color;
  text-decoration: underline;
  &:hover {
    font-weight:bolder;
    color:$white-color;
  }
}

.App {
  text-align: center;
  background-size:cover;
  height:100vh;
}

.AppOverlay{
  background: linear-gradient( 90deg, rgba($white-color, .6), rgba($light-grey-color, .8)   );
}

.page-overview{
  display:flex;
}
.extra-window {
  width:100%;
  height:100vh;
  padding:20px;
  overflow-y: scroll;
}

.home-window {
  display:flex;
  text-align: right;
  height:100%;
  justify-content: flex-end;
  align-items: flex-end;
  & > h2, & > h3 {
    padding:10px;
    margin:10px;
  }
}

.code-window {
    text-align: left;
    background-color: $black-color;
    padding: 10px;
    border-radius: 8px;
}
.code-window * {
    color:$grey-color;
}

.code-line {
  font-size:20px;
  margin:2px;
}

.page-body-bg {
  height:100vh;
  background:url('./img/bg1.jpg');
  background-size:cover;
}

.page-body {
  height:100vh;
  padding:20px;
  display:flex;
  align-items:flex-end;
  background:linear-gradient( rgba($primary-color, .5), rgba($dpc, .5) );
  border-right:solid $dpc 8px;

  & > div {
    width:100%;
  }
}

.page-button {
  color:$white-color;
  text-decoration:none;
  background:linear-gradient(   $dpc, $primary-color, $primary-color, $dpc );
  text-align:center;
  display:inline-block;
  width:140px;
  padding:10px;
  margin:10px;
  font-size: 18px;
  border-radius:8px;
  &:hover {
    background:linear-gradient( $primary-color, $dpc, $primary-color, );
    color:$white-color;
  }
}

.pb-primary {
    background:linear-gradient(   $dhc, $highlight-color, $highlight-color, $dhc );
    color:$black-color;

    &:hover {
      background:linear-gradient( $highlight-color, $dhc, $highlight-color, );
    }

}

.menu-link {
  color:$white-color;
  padding:5px;
  text-decoration:none;
  &:hover {
    color:$secondary-color;
  }
}

.contact-icon-link {
  display:inline-block;
  width:25%;
}

.technology-button{
      display: inline-block;
      padding: 5px;
      margin: 5px;
      border-radius:5px;
      cursor: pointer;
      a {
        color: $white-color;
        &:hover {
          font-weight:bold;
          color: $white-color;
        }
      }

    }

.tfc-b {
  color:$primary-color;
}

.tfc-p {
  color:$secondary-color;
}

.tfc-g {
  color:$highlight-color;
}
.tfc-gy {
  color:$grey-color;
}

.tfc-lg {
  color:$light-grey-color;
}

.tfc-dg {
  color:$dark-grey-color;
}
