$primary-color: #2180d0;
$secondary-color: #ba51df;
$highlight-color: #5ce449;

$llpc: #6bafe8;
$lpc: #4198e1;
$dpc: #1a66a6;
$ddpc: #144c7c;

$dhc: #2cb01b;


$white-color: #e4f0fb;
$black-color: #02080d;
$grey-color: #6f7982;


$light-grey-color: #939ab0;
$dark-grey-color: #32385d;
